$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: #4e4e4e;
$font-color: #dfdfdf;
$white: #fff;
$grey: rgb(128, 128, 128);
$teal: rgb(0, 156, 161);
$black: #000;

body {
  background-color: $background-color;
  color: $font-color;
}

footer {
  background-color: $grey;
  border: 1px solid $white;
  color: $font-color;
  font-weight: 400px;
  margin-top: 50px;
  padding-top: 15px;
  text-align: center;
  width: 100%;
}

.gamebox {
  border: 1px solid $white;
  display: inline;
  font-size: 40px;
  font-style: bold;
  height: 150px;
  padding: 40px;
  text-align: center;
  width: 150px;
}

.modal {
  color: $black;
}

.menu {
  background-color: $grey;
  border: 1px solid $white;
  color: $white;
  float: right;
  margin-left: 5px;
  margin-top: 10px;
}

.grey {
  background-color: $grey;
}

.teal {
  background-color: $teal;
}

.view2 {
  display: none;
}

.view3 {
  display: none;
}

#playerTurnO {
  background-color: $grey;
  border: 1px solid $white;
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}

#menu-title {
  display: inline;
  font-size: 40px;
}

#playerHistoryInfo {
  border: 1px solid $white;
  font-size: 20px;
  margin-top: 10px;
}

#playerTurnX {
  background-color: $grey;
  border: 1px solid $white;
  font-size: 20px;
  text-align: center;
}

#resetGame {
  background-color: $grey;
  border: 1px solid $white;
  font-size: 20px;
  margin-bottom: 100px;
  margin-top: 20px;
  text-align: center;
}

#playerHistory {
  background-color: $grey;
  border: 1px solid $white;
  font-size: 20px;
  text-align: center;
}
